- I executed the basic commands using python. I used cloud cassandra 
- To see whether your data is create or inserted. Check the cql console in cloud

In [1]:
import cassandra

In [2]:
#This is cloud connection
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'D:\ArtificalIntelligence\FullStackDataScience\Databases\Cassandra_Python\secure-connect-test.zip'
}# This is for secure connection to cloud cassandra download the zip file datastax cloud cassandra
auth_provider = PlainTextAuthProvider('IwZludvqFmcDYhWclWYuOIQL', 't0Z2ObBQ-rwmagMYa.UKUiS,XCqxE41kEuqm9HFshYfHRRZqk7AKGeeo_IGAlwu_bhZxBGxgT73Tmi7tx2tXL0bhLDeCUACpLH6h-MZ0hWeyEQ9J15HtjRO_mI45_cAG')# provide seceret key
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect()

In [3]:
row = session.execute("SELECT * FROM system_schema.keyspaces").one()
print(row)

Row(keyspace_name='system_auth', durable_writes=True, graph_engine=None, replication=OrderedMapSerializedKey([('class', 'org.apache.cassandra.locator.NetworkTopologyStrategy'), ('us-east-1', '3')]))

In [7]:
row = session.execute("SELECT * FROM system_schema.keyspaces;")
row

In [8]:
for i in row:
    print(row)

<cassandra.cluster.ResultSet object at 0x000002B2A07C2E50>
<cassandra.cluster.ResultSet object at 0x000002B2A07C2E50>
<cassandra.cluster.ResultSet object at 0x000002B2A07C2E50>
<cassandra.cluster.ResultSet object at 0x000002B2A07C2E50>
<cassandra.cluster.ResultSet object at 0x000002B2A07C2E50>
<cassandra.cluster.ResultSet object at 0x000002B2A07C2E50>
<cassandra.cluster.ResultSet object at 0x000002B2A07C2E50>
<cassandra.cluster.ResultSet object at 0x000002B2A07C2E50>

# Using the created Keyspace
- I tired to create the keyspace using python but It is throwing unauthorized user error even after having admin access.

In [9]:
row = session.execute("USE cass_hw;")

In [10]:
row

# Create a Table

In [12]:
row = session.execute("CREATE TABLE cass_hw.student(stu_id int PRIMARY KEY, stu_name text, stu_city text, stu_phone varint);").one()

# Alter the Table

In [13]:
row = session.execute("ALTER TABLE cass_hw.student ADD emp_email text;")

In [14]:
row = session.execute("ALTER TABLE cass_hw.student DROP emp_email;")

- This one is used to drop the table we created.
row = session.execute("DROP TABLE student;")

# Inserting Values

In [18]:
row = session.execute("INSERT INTO cass_hw.student (stu_id, stu_name, stu_city, stu_phone) values(1,'Mahesh','HYD',9701305114);")

In [19]:
row = session.execute("INSERT INTO cass_hw.student (stu_id, stu_name, stu_city, stu_phone) values(2,'Mouli','HYD',9701305114);")

In [20]:
row = session.execute("INSERT INTO cass_hw.student (stu_id, stu_name, stu_city, stu_phone) values(3,'Gayathri','HYD',9701305114);")

# Truncate Statement

In [21]:
row = session.execute("TRUNCATE cass_hw.student;")

# Creating the Index for specific column

In [22]:
row = session.execute(" CREATE INDEX name on cass_hw.student (stu_name);")

In [23]:
row = session.execute("INSERT INTO cass_hw.student (stu_id, stu_name, stu_city, stu_phone) values(1,'Mahesh','HYD',9701305114);")
row = session.execute("INSERT INTO cass_hw.student (stu_id, stu_name, stu_city, stu_phone) values(2,'Mouli','HYD',9701305114);")
row = session.execute("INSERT INTO cass_hw.student (stu_id, stu_name, stu_city, stu_phone) values(3,'Gayathri','HYD',9701305114);")

# Using Batch to run set of commands

In [24]:
row = session.execute(" BEGIN BATCH INSERT INTO cass_hw.student (stu_id, stu_name, stu_city, stu_phone) values(4,'Don','HYD',1236547890); UPDATE cass_hw.student SET stu_name = 'Allu' WHERE stu_id=3; DELETE stu_city FROM cass_hw.student WHERE stu_id = 2; APPLY BATCH;")

# Update Statement using Where clause

In [26]:
row = session.execute(" UPDATE cass_hw.student SET stu_city='HYD' WHERE stu_id = 2;")

In [28]:
row = session.execute(" SELECT stu_name, stu_phone FROM cass_hw.student;")

In [29]:
for i in row:
    print(i)

Row(stu_name='Mahesh', stu_phone=9701305114)
Row(stu_name='Mouli', stu_phone=9701305114)
Row(stu_name='Don', stu_phone=1236547890)
Row(stu_name='Allu', stu_phone=9701305114)

# Deleting a record using Where clause

In [30]:
row = session.execute(" DELETE FROM cass_hw.student WHERE stu_id = 4;")

- In cassandra we can even add list or set or map values into a specific column.